body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.onepager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #333;
  padding: 20px;
  box-sizing: border-box;
  background: #e0e0e0;
}

.header {
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.image-container {
  width: 300px;
  height: 300px;
  border: 2px solid #333;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

input[type=file] {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #999; /* zmieniony na szary */
  cursor: not-allowed; /* zmienia kursor na znak "zakazany" */
}

button:hover {
  background-color: #555;
}

button:disabled:hover {
  background-color: #999; /* nie pozwala na zmianę koloru podczas najechania myszką */
}
.glass {
  color: #4CAF50; /* kolor zielony */
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid #4CAF50;
  padding: 10px;
  border-radius: 5px;
}

.plastic-metal {
  color: #dc9100;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid #dc9100;
  padding: 10px;
  border-radius: 5px;
}

.paper-cardboard {
  color: #006fff;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid #006fff;
  padding: 10px;
  border-radius: 5px;
}
